@page
@model RestaurantUI.Pages.Admin.Orders.OrderListModel
@{
    ViewBag.groupePage = "Adminitration";
    ViewBag.title = "Orders List";
}

<div class="p-1">
    <div class="row">
        <div class="col-12">
            <a class="btn btn-outline-info mt-1 mb-2 p-1" asp-page="AddOrEdit"><i class="fa-solid fa-circle-plus"></i> Create </a>
            <table id="DtMenuItems" class="w-100 table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model=>model.OrderList.ElementAt(0).Id)</th>
                        <th>@Html.DisplayNameFor(model=>model.OrderList.ElementAt(0).PickUpName)</th>
                        <th>@Html.DisplayNameFor(model=>model.OrderList.ElementAt(0).ApplicationUser.Email)</th>
                        <th>@Html.DisplayNameFor(model=>model.OrderList.ElementAt(0).ApplicationUser.PhoneNumber)</th>
                        <th>@Html.DisplayNameFor(model=>model.OrderList.ElementAt(0).OrderTotal)</th>
                        <th>@Html.DisplayNameFor(model=>model.OrderList.ElementAt(0).Status)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var dataTable;
        $(document).ready(function () {
            dataTable = $('#DtMenuItems').DataTable({
                "ajax": {
                    "url": "?handler=List",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id" },
                    { "data": "pickUpName" },
                    { "data": "applicationUser.email" },
                    { "data": "applicationUser.phoneNumber" },
                    { "data": "orderTotal" },
                    { "data": "status" },

                    {
                        "data": 'id', "render": function (data) { // data is the id
                            //`` (Altr+7) Backtick
                            return `
                                    <div class="w-100 btn-group">
                                   <a href="/Admin/Orders/OrderDetails?id=${data}" class="btn btn-outline-info mx-1 p-1">
                                     <i class="fa-solid fa-magnifying-glass" style="color:blueviolet;"></i>
                                     </a>
                                  </div>
                              `
                        }
                    }
                ]
            });
        });
    </script>
}
